[Unit]
Description="Organizes Download folder"
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/dlorg

[Install]
WantedBy=default.target
